@model IEnumerable<r2bw.Data.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h2>Attendance</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headcount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManualHeadcount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headcount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManualHeadcount)
            </td>
            <td>
                <a asp-controller="Events" asp-action="Attendance" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
